# Backend files
*.dem
*__pycache__*

# Uploaded files related to demos(delete these once we move to a cloud blob storage)
demo_data/*
example_demos/*
metadata/*
uploads/*

# Frontend files
# Logs
frontend/logs
*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
