# Dependencies for Python/pip
# Install these dependencies by activating virtual environment and running
# pip install -r requirements.txt

# Dependency for parsing CS2 demos
demoparser2

# Data processing
pandas
pyarrow

# Python formatting
autopep8
pylint

# Tracking system info(memory usage, CPU waits, etc)
# TODO: Remove this once we move the computing to a cloud service
psutil

# Backoff decorator(ex: exponential backoff)
backoff

# Type validation
pydantic
pydantic-settings

# Backend APIs
fastapi
uvicorn
python-multipart # TODO: CHECK IF THIS IS ACTUALLY NEEDED

# Hashing
blake3

# Async
asyncio
